<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655921989667-ce84v4sa4g4sbjpul151nhltejt2f6pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655921989667-ce84v4sa4g4sbjpul151nhltejt2f6pt</string>
	<key>API_KEY</key>
	<string>AIzaSyDMcKQ_wFqgDCAfz-vLalpOb_aJhL4ejD8</string>
	<key>GCM_SENDER_ID</key>
	<string>655921989667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yspotProject</string>
	<key>PROJECT_ID</key>
	<string>yspot-79000</string>
	<key>STORAGE_BUCKET</key>
	<string>yspot-79000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655921989667:ios:4966b608669b7e8bb2c996</string>
</dict>
</plist>